
<div style="height: 100%; display: flex; flex-direction: column;">

  <h1 style="font-weight: bold; text-align: center; font-size: 64px; border-bottom: 3px solid #2b2b2b; margin: 0; padding: 20px;">
    OSRS Randomiser
  </h1>

  <div style="width: 100%; display: flex; flex-grow: 1;">

    <div style="width: 350px; border-right: 3px solid #2b2b2b; text-align: center; padding: 20px; display: flex; flex-direction: column;">
      <div style="flex-grow: 1;">
        <div style="border: 1px solid #FFE903; border-radius: 2px;">
          <h2 style="text-decoration: underline;">Tasks Completed</h2>
          <h1>{{completedTasks().length}} / {{totalTaskCount()}}</h1>
        </div>

        <div style="border: 1px solid #FFE903; border-radius: 2px; margin-top: 20px; padding-left: 50px; padding-right: 50px; padding-top: 20px; padding-bottom: 20px;">
          <h2 style="margin-bottom: 20px; margin-top: 0; text-decoration: underline">Tasks Available</h2>
          <div style="display: flex; align-items: center; justify-content: center; gap: 20px;">
            <h2 style="margin: 0;">Quest</h2>
            <h1 style="margin: 0;">{{availableQuestTasks().length}}</h1>
          </div>

          <div style="display: flex; align-items: center; justify-content: center; gap: 20px;">
            <h2 style="margin: 0;">Skill</h2>
            <h1 style="margin: 0;">{{availableSkillTasks().length}}</h1>
          </div>

          <div style="display: flex; align-items: center; justify-content: center; gap: 20px;">
            <h2 style="margin: 0;">Diary</h2>
            <h1 style="margin: 0;">{{availableDiaryTasks().length}}</h1>
          </div>

          <div style="display: flex; align-items: center; justify-content: center; gap: 20px;">
            <h2 style="margin: 0;">Collection</h2>
            <h1 style="margin: 0;">{{availableCollectionTasks().length}}</h1>
          </div>

          <div style="display: flex; align-items: center; justify-content: center; gap: 20px;">
            <h2 style="margin: 0;">Misc</h2>
            <h1 style="margin: 0;">{{availableMiscTasks().length}}</h1>
          </div>
        </div>
      </div>

      <div style="padding: 10px; display: flex; gap: 10px; justify-content: space-between;">
        <button (click)="exportSave()" style="font-size: 24px; background: #FFE903; font-family: OSRS; font-weight: bold; border-radius: 4px; border: 4px solid #7a7002; cursor: pointer;">
          Export Save
        </button>

        <button (click)="importSave()" style="font-size: 24px; background: #FFE903; font-family: OSRS; font-weight: bold; border-radius: 4px; border: 4px solid #7a7002; cursor: pointer;">
          Import Save
        </button>
      </div>
    </div>

    <div style="display: flex; align-items: center; flex-grow: 1; flex-direction: column; gap: 40px; padding-top: 80px; padding-left: 20px; padding-right: 20px;">
      <div style="border: 4px solid #FFE903; border-radius: 8px; width: 900px; height: 300px; text-align: center;">
        <h1>
          Current Task
        </h1>

        <div style="font-size: 72px; font-weight: bold; padding-top: 30px; padding-bottom: 50px;">
          <ng-container *ngIf="!isLoading()">
            <ng-container *ngIf="currentTask()">
              {{formatTask(currentTask()!.task) | titlecase}}
            </ng-container>
            <ng-container *ngIf="!currentTask()">
              <button (click)="generateTask()" style="font-size: 72px; background: #FFE903; font-family: OSRS; font-weight: bold; border-radius: 4px; border: 4px solid #7a7002; cursor: pointer;">
                Get New Task
              </button>
            </ng-container>
          </ng-container>

          <div style="justify-content: space-between; margin: auto;" [class.in-out]="isLoading()" [hidden]="!isLoading()">
            <img src="/dscim.png" style="width: 70px;" class="spin-back" />
            <img src="/dscim2.png" style="width: 70px;" class="spin" />
          </div>
        </div>

        <ng-container *ngIf="currentTask() && !isLoading()">
          <span style="font-size: 32px; font-weight: normal; text-decoration: underline; cursor: pointer;" (click)="gotoWiki()">
            View Wiki
          </span>
        </ng-container>
      </div>

      <ng-container *ngIf="currentTask() && !isLoading()">
        <div style="flex-grow: 1">
          <button (click)="completeTask()" style="font-size: 42px; background: #FFE903; font-family: OSRS; font-weight: bold; border-radius: 4px; border: 4px solid #7a7002; cursor: pointer;">
            Complete Task
          </button>
        </div>
      </ng-container>


      <ng-container *ngIf="currentTask() && !isLoading()">
        <div style="padding-bottom: 20px;">
          <span (click)="cannotComplete()" style="font-size: 24px; cursor: pointer; text-decoration: underline;">
            I literally cannot complete my current task
          </span>
        </div>
      </ng-container>
    </div>

    <div style="width: 350px; border-left: 3px solid #2b2b2b; text-align: center; padding: 20px; display: flex; flex-direction: column;">

      <div style="flex-grow: 1;">
        <div style="border: 1px solid #FFE903; border-radius: 2px;">
          <h2 style="text-decoration: underline">Recently Completed</h2>
          <h3 *ngFor="let recentlyCompletedTask of recentlyCompletedTasks()">
            {{formatTask(recentlyCompletedTask) | titlecase}}
          </h3>
          <h3 *ngIf="recentlyCompletedTasks().length == 0">
            -
          </h3>
        </div>
      </div>

      <div style="text-align: right">
        <button (click)="resetProgress()" style="font-size: 14px; background: #FFE903; font-family: OSRS; font-weight: bold; border-radius: 4px; border: 4px solid #7a7002; cursor: pointer; width: 120px;">
          Reset Progress
        </button>
      </div>
    </div>
  </div>
</div>
