@font-face {
  font-family: 'OSRS';
  src: url('/runescape.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'OSRS';
  src: url('/runescape_bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

body {
  width: 100%;
  height: 100vh;
  background: black;
  color: #FFE903;
  font-family: 'OSRS', sans-serif;
  padding: 0;
  margin: 0;
}
